<h1>Log in</h1>

<form #loginForm="ngForm" (ngSubmit)="authenticate()">
  <div *ngIf="authenticationFailed " class="alert alert-danger">Nope, try again</div>

  <div class="form-group">
    <label>Login
      <input  name="login" [(ngModel)]="credentials.login" required #loginCtrl="ngModel" >
    </label>
  <div *ngIf="loginCtrl.dirty && loginCtrl.hasError('required')">Login is required</div>
  </div>

  <div class="form-group">
    <label>Password
      <input type="password" name="password"  [(ngModel)]="credentials.password" required #passwordCtrl="ngModel" >
    </label>
  <div *ngIf="passwordCtrl.dirty && passwordCtrl.hasError('required')">Password is required</div>
  </div>

    <button type="submit" [disabled]="loginForm.invalid">Login</button>
</form>

<style>
  input.ng-invalid.ng-dirty {
    border: 3px red solid;
  }
</style>
